


body{
    width: 414px;
    height: 896px;
     background-color: rgba(238,245,255,1);
     border: 5px solid;
}
.container{
    position: relative;
    height: auto;
}
  
.shape{
    
    width: 60%;
    height:auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-4;
    transform: translate(-89,-108);
    

}

.status bar{
     width: 405px;
      height: 44px;
    position: absolute;
    z-index: 5;   
    transform: translate(0,0);
     opacity: 100%;
   stroke: 000000;
   


}
.Btn{
 height: 61px;
 width: 321px;
color: white;
background-color: turquoise;
font-size: 21px;
border: none;
transform: translate(54,765);
position: relative;
margin-top: 50%;
margin-left: 11%;
}
.man{
    display: flex;
    justify-items: center;
    margin-top: 40%;
    margin-left: 10%; 
}

.girl{

display: flex;
justify-content: center;
align-items: center;
gap: 2px;

}
h2{
    margin-top:5%;
    margin-left: 65px;

}
font{
    margin-left:25%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: large;
}
p{
    margin-left: 13%;
}












































/* 


.container{
    position:relative;
    
    height: auto;  
    padding: auto;
    
}
    
.shape{
    
    width: 60%;
    height:auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-4;
    transform: translate(-89,-108);
    

}

.status bar{
     width: 405px;
      height: 44px;
    position: relative;
    z-index: 5;   
    transform: translate(0,0);
     opacity: 100%;
   stroke: 000000;


.Rectangle{
    position: absolute;
    width: 50%;
    margin: 0;
    padding: 0;
}
}
.girl{
    position: relative;
    margin-left: 30%;
    margin-top: 30%;
} */